.title {
    font-family: 'Poppins';
    font-style: normal;

    &.weight-thin {
        font-weight: 200;
    }

    &.weight-light {
        font-weight: 300;
    }

    &.weight-regular {
        font-weight: 400;
    }

    &.weight-medium {
        font-weight: 500;
    }

    &.weight-bold {
        font-weight: 600;
    }

    &.weight-semi-bold {
        font-weight: 700;
    }

    &.weight-extra-bold {
        font-weight: 800;
    }

    &.weight-black {
        font-weight: 900;
    }

    &.h1 {
        font-weight: 600;
        text-transform: capitalize;

        &.size-large {
            font-size: 76px;
            line-height: 84px;
            @media(max-width: $md1) {
                font-size: 54px;
                line-height: 62px;
            }
            @media(max-width: $md2) {
                font-size: 48px;
                line-height: 54px;
            }
        }

        &.color-dark-gray {
            color: var(--gray-900);
        }
    }

    &.h2 {
        &.size-medium {
            font-size: 46px;
            line-height: 48px;
        }

        &.color-white {
            color: var(--white);
        }

        &.color-light-gray {
            color: var(--gray-200);
        }
    }

    &.h3 {
        font-weight: 600;
        &.size-large {
            font-size: 22px;
            line-height: 24px;
        }
        
        &.color-dark-gray {
            color: var(--gray-900);
        }
    }
}