.nft-item {
    width: 100%;
    background-color: var(--white);
    box-shadow: 38px 12px 60px rgba(199, 199, 199, 0.6);
    border-radius: 24px;
    padding: 14px;

    .nft-item__img {
        width: 100%;
        position: relative;

        img {
            width: 100%;
            height: 254px;
            object-fit: cover;
        }

        .timer {
            position: absolute;
            right: 12px;
            top: 14px;
            background: rgba(28, 29, 32, 0.35);
            border: 1.17626px solid rgba(28, 29, 32, 0.08);
            box-shadow: 0px 4.70504px 14.1151px rgba(28, 29, 32, 0.08);
            backdrop-filter: blur(2.35252px);
            border-radius: 10px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #FFFFFF;
            padding: 10px 14px;
        }
    }

    .nft-item__content {
        width: 100%;
        padding-top: 20px;

        .title {
            margin-bottom: 20px;
        }

        .nft-item__bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .nft-item__price {
                .price {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 2px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16.4676px;
                    line-height: 150%;
                    color: var(--gray-900);
                    margin-top: 4px;
                }
            }

            .button {
                height: 50px;
            }
        }
    }
}