.button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    border: unset;
    padding: 0;
    background: unset;
    position: relative;
    z-index: 2;
    
    &.default {
        border-radius: 20px;
        height: 66px;
        padding: 0 14px;
    }

    &.soc-btn {
        padding: 0;
        border-radius: 50%;
        background-color: #CDBDAE;
        &:hover {
            background-color: #A97522;
        }
    }

    &.icon-text {
        justify-content: flex-start;
    }

    &.only-icon {
        padding: 14px;
        border-radius: 14px;
    }

    &.bg-gold-gradient {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(78.39% 78.39% at 50% 0%, #FEED6C 0%, #A97522 100%);
        border: 1px solid #FEED6C;
        box-shadow: 0px 4px 14px #000000;
    }

    &.bg-gold {
        background-color: #A97522;
    }

    &.bg-dark-brown {
        background-color: #2C2520;
        &:hover {
            background-color: #A97522;
        }
    }
}