.contact-item {
    width: 100%;
    padding: 0px 20px;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background: #2C2520;
    border-radius: 20px;
    border: 1px solid transparent;
    @media(max-width: 1660px) {
        height: 80px;
        gap: 10px;
    }

    svg {
        @media(max-width: 1660px) {
            width: 30px;
            height: auto;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 2px;

        span {
            &:first-child {
                line-height: 166%;
            }

            &:last-child {
                line-height: 89%;
            }
        }
    }

    &.active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(78.39% 78.39% at 50% 0%, #FEED6C 0%, #A97522 100%);
        border: 1px solid #FEED6C;
        box-shadow: 0px 4px 14px #000000;
        border-radius: 20px;

        .text .text {
            color: #17110B!important;
        }
    }
}