:root {
  --white: #fff;
  --black: #000;

  --gray-300: #E5E8ED;
  --gray-400: #D7DADD;
  --gray-600: #9a9ca5;
  --gray-700: #787a80;
  --gray-800: #1e212c;

  --red-primary: #ff3f3a;    
  --green-teal: #03cea4;     
  --red-accent: #ff4242;     
  --blue-primary: #5a87fc;   
  --orange-primary: #f89828; 
  --pink-primary: #f52f6e;   
  --purple-primary: #7772f1; 
}