@use "sass:math";
@import "mixins";
@import "colors";
@import "fonts";
@import "variables";
@import "null";
@import "forms";
@import "ui";

body {
	color: $mainColor;
	font-size: $fontSize + px;
	font-family: $fontFamily;
	background-color: $mainBackground;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

@import "./components/Courses/style.scss";
@import "./components/TeacherItem/style.scss";