$fontFamily: "Lato";
$fontSize: 16;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1230px;
$md1: $maxWidthContainer;
$md2: 1024px;
$md3: 768px;
$md4: 480px;

$mainColor: var(--black);
$mainBackground: var(--white);