.description {
    font-style: normal;

    &.weight-thin {font-weight: 200;}
    &.weight-light {font-weight: 300;}
    &.weight-regular {font-weight: 400;}
    &.weight-medium {font-weight: 500;}
    &.weight-bold {font-weight: 600;}
    &.weight-semi-bold {font-weight: 700;}
    &.weight-extra-bold {font-weight: 800;}
    &.weight-black {font-weight: 900;}

    &.color-light-gray {color: var(--gray-150);}
    &.color-medium-gray {color: var(--gray-500);}
    &.color-dark-gray {color: var(--gray-650);}
    .color-dark-gray {color: var(--gray-900);}

    &.text-font-poppins {font-family: 'Poppins';}
    &.text-font-inter {font-family: 'inter';}

    &.size-small {font-size: 14px; line-height: 18px;}
    &.size-medium {font-size: 18px; line-height: 24px;}
    &.size-large {font-size: 20px; line-height: 26px;}
}