.text {
    &.family-kufam {font-family: 'kufam';}
    &.family-inter {font-family: 'inter';}
    &.family-montserrat {font-family: 'montserrat';}

    &.size-s {font-size: 12px;}
    &.size-l {font-size: 14px;}
    &.size-m {font-size: 16px;}
    &.size-xs {font-size: 20px;}
    &.size-xl {font-size: 24px;}
    &.size-xm {font-size: 36px;}
    &.size-xx {font-size: 64px;}

    &.weight-100 {font-weight: 100;}
    &.weight-200 {font-weight: 200;}
    &.weight-300 {font-weight: 300;}
    &.weight-400 {font-weight: 400;}
    &.weight-500 {font-weight: 500;}
    &.weight-600 {font-weight: 600;}
    &.weight-700 {font-weight: 700;}
    &.weight-800 {font-weight: 800;}
    &.weight-900 {font-weight: 900;}

    &.style-normal {font-style: normal;}
    &.style-italic {font-style: italic;}

    @media(max-width: 1660px) {
        &.size-l {font-size: 12px;}
        &.size-m {font-size: 14px;}
        &.size-xs {font-size: 16px;}
        &.size-xl {font-size: 20px;}
        &.size-xm {font-size: 24px;}
        &.size-xx {font-size: 36px;}
    }
}