.reviews {
    width: 100%;
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 0 30px;
    @media(max-width: 1660px) {
        padding: 0 16px;
    }

    @media(max-width: 1024px) {
        padding: 56px 16px;
    }

    .reviews__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .reviews__content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 8px;
            @media(max-width: 1024px) {
                flex-direction: column;
            }

            .reviews__box {
                background: rgba(31, 26, 22, 0.86);
                border: 1px solid #554825;
                box-shadow: 0px 4px 138.5px -43px #000000;
                backdrop-filter: blur(17.5px);
                border-radius: 20px;
                width: 100%;
                padding: 28px 18px 30px 10px;
                height: 676px;
                display: flex;
                flex-direction: column;
                @media(max-width: 1660px) {
                    padding: 16px;
                    height: 400px;
                }

                @media(max-width: 1024px)  {
                    height: auto;
                    display: grid;
                    grid-template-columns: 1fr;
                    padding: 40px 0 20px;
                }

                .reviews__box-title {
                    width: 100%;
                    padding: 0 24px;
                    margin-bottom: 40px;
                    flex: 1;
                    @media(max-width: 1660px) {
                        margin-bottom: 20px;
                        padding: 0 10px;
                    }

                    h2 {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 22px;
                        margin-bottom: 8px;
                        line-height: 47px;
                        @media(max-width: 1660px) {
                            line-height: 30px;
                            gap: 12px;
                        }
                        @media(max-width: 1024px) {
                            justify-content: center;
                            font-size: 36px;
                        }
                    }

                    p {
                        line-height: 155%;
                        @media(max-width: 1660px) {
                            line-height: 120%;
                        }
                        @media(max-width: 1024px) {
                            display: none;
                        }
                    }
                }

                .reviews__list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    overflow: auto;
                    padding-right: 20px;
                    gap: 8px;

                    @media(max-width: 1280px) {
                        grid-template-columns: 1fr;
                    } 

                    @media(max-width: 1024px) {
                        display: flex;
                        justify-content: flex-start;
                        align-items: stretch;
                        height: auto;
                        width: 100%;
                        .review-item {
                            min-width: 370px;
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 8px;
                        background: rgba(31, 26, 22, 0.86);
                        opacity: 0.2;
                        border: 1px solid #554825;
                        box-shadow: 0px 4px 138.5px #000000;
                        backdrop-filter: blur(17.5px);
                        border-radius: 20px;
                        @media(max-width: 1024px) {
                            display: none;
                        }

                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 20px;
                        background-color: #A97522;
                        border: 1px solid #554825;
                    }
                }
            }
        }
    }
}