.reviews {
    width: 100%;
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 0 30px;

    .reviews__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .reviews__content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 8px;

            .reviews__box {
                background: rgba(31, 26, 22, 0.86);
                border: 1px solid #554825;
                box-shadow: 0px 4px 138.5px -43px #000000;
                backdrop-filter: blur(17.5px);
                border-radius: 20px;
                width: 100%;
                padding: 28px 18px 30px 10px;
                height: 676px;
                display: flex;
                flex-direction: column;

                .reviews__box-title {
                    width: 100%;
                    padding: 0 24px;
                    margin-bottom: 40px;
                    flex: 1;

                    h2 {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 22px;
                        margin-bottom: 8px;
                        line-height: 47px;
                    }

                    p {
                        line-height: 155%;
                    }
                }

                .reviews__list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    overflow: auto;
                    padding-right: 20px;
                    gap: 8px;

                    &::-webkit-scrollbar {
                        width: 8px;
                        background: rgba(31, 26, 22, 0.86);
                        opacity: 0.2;
                        border: 1px solid #554825;
                        box-shadow: 0px 4px 138.5px #000000;
                        backdrop-filter: blur(17.5px);
                        border-radius: 20px;

                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 20px;
                        background-color: #A97522;
                        border: 1px solid #554825;
                    }
                }
            }
        }
    }
}