.button {
    width: 100%;
    height: 60px;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: all 0.5s;
    &.dark {
        border-color: var(--black);
        &.fill {
            background-color: var(--black);
            color: var(--white);
            &:hover {
                background-color: var(--gray-100);
                color: var(--black);
            }
        }
        &.empty {
            color: var(--black);
            &:hover {
                background-color: var(--gray-100);
                color: var(--white);
            }
        }
    }

    &.light {
        border-color: var(--white);
        &.fill {
            background-color: var(--white);
            color: var(--gray-900);
            &:hover {
                background-color: var(--gray-100);
            }
        }
        &.empty {
            color: var(--white);
            &:hover {
                background-color: var(--gray-100);
                color: var(--gray-900);
            }
        }
    }
}

