.logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}