.dropdown {
    position: relative;

    
    
    &__title {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 14px;
        &:hover {
            .icon {
                &::after {
                    opacity: 1;
                }
            }
        }

        .left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
        }

    }

    .icon {
        border-radius: 14px;
        background-color: #2C2520;
        position: relative;
        z-index: 2;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: "";
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(78.39% 78.39% at 50% 0%, #FEED6C 0%, #A97522 100%);
            border: 1px solid #FEED6C;
            box-shadow: 0px 4px 14px #000000;
            border-radius: 14px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.5s;
        }

        svg {
            position: relative;
            z-index: 2;
        }
    }

    &__options {
        position: absolute;
        right: 0;
        top: 68px;
        background: rgba(31, 26, 22, 0.86);
        border: 1px solid #554825;
        box-shadow: 0px 4px 138.5px -43px #000000;
        backdrop-filter: blur(17.5px);
        border-radius: 20px;
        padding: 16px;
        width: 186px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            right: 0;
            top: -20px;
        }
    }

    .dropdown-option {
        .button {
            background-color: #2C2520;
            height: 50px;
            gap: 12px;
            position: relative;
            z-index: 3;
        }

        &.active {
            .button {
                background: unset;
            }
        }
    }
}