.header {
    position: sticky;
    top: 0;
    z-index: 30;
    width: 100%;
    padding: 24px 20px;
    background-color: #fff;
}

.header__projects-tabs {
    @media (min-width: 768px) {
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}