.header {
    position: relative;
    z-index: 10;
    padding: 38px 30px;

    &__container {
        width: 100%;
        .soc {
            &:hover {
                svg path {
                    fill: #A97522!important
                }
            }
        }
    }

    &__links {
        width: 100%;
        max-width: 472px;

        .button {
            flex-direction: row-reverse;
            height: unset;
            
            .icon {
                padding: 14px;
                border-radius: 14px;
                background-color: #2C2520;
                position: relative;
                z-index: 2;

                &::after {
                    content: "";
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(78.39% 78.39% at 50% 0%, #FEED6C 0%, #A97522 100%);
                    border: 1px solid #FEED6C;
                    box-shadow: 0px 4px 14px #000000;
                    border-radius: 14px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.5s;
                }
                svg {
                    position: relative;
                    z-index: 2;
                }
            }

            &:hover {
                .icon::after {
                    opacity: 1;
                }
            }
        }
    }
}