.courses {
	width: 100%;
	padding: 50px 20px 86px;
	position: relative;
	@media(max-width: $md1) {
		padding: 40px 20px;
	}

	.courses__bg-icons {

		span {
			position: absolute;
		}

		.shapes {
			top: 40%;
			left: -10px;
		}

		.arrows {
			top: 60%;
			right: 10px;
		}

		.dots {
			transform: rotate(40deg);
			top: 10px;
			right: -40px;
		}
	}

	.courses__container {
		width: 100%;
		position: relative;
		z-index: 2;
		.courses__title {
			width: 100%;
			margin-bottom: 86px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 8px;
			@media(max-width: $md1) {
				margin-bottom: 40px;
			}
			@media(max-width: $md2) {
				margin-bottom: 30px;
			}

			span {
				font-family: 'Lato-Bold';
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 150%;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: var(--gray-900);
				@media(max-width: $md2) {
					font-size: 12px;
				}
			}

			h1 {
				font-family: 'Lato-Black';
				font-style: normal;
				font-weight: 900;
				font-size: 46px;
				line-height: 130%;
				color: var(--gray-900);
				@media(max-width: $md1) {
					font-size: 40px;
				}
				@media(max-width: $md2) {
					font-size: 32px;
				}
			}
		}

		.courses__filter-bar {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			margin-bottom: 60px;
			@media(max-width: $md4) {
				flex-direction: column;
			}
			.filtr-btn {
				display: none;
				padding: 6px 12px;
				border: 1px solid var(--gray-400);
				color: var(--gray-600);
				font-family: 'Lato-Bold';
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 160%;
				border-radius: 4px;
				justify-content: flex-start;
				align-items: center;
				gap: 10px;
				@media(max-width: $md2) {
					display: flex;
				}
				@media(max-width: $md2) {
					width: 100%;
					justify-content: space-between;
				}
			}

			ul {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 12px;
				@media(max-width: $md2) {
					display: block;
					position: fixed;
					left: 0;
					top: 0;
					width: 100%;
					height: 0;
					background-color: var(--white);
					z-index: 10;
					overflow: hidden;
					transition: all 0.5s;
				}
				&.active {
					height: 100%;
					padding: 40px 0;
				}
				.close-btn {
					display: none;
					width: 30px;
					position: absolute;
					top: 30px;
					right: 16px;
					span {
						width: 100%;
						height: 2px;
						background-color: var(--black);
						position: relative;
						display: block;
						transform: rotate(45deg);
						&:last-child {
							transform: rotate(-45deg);
							top: -2px;
						}
					}
					@media(max-width: $md2) {
						display: block;
					}
				}
				li {
					@media(max-width: $md2) {
						padding: 0 20px;
					}
					.filter-btn {
						padding: 10px 20px;
						font-family: 'Lato-Bold';
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 160%;
						color: var(--gray-600);
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						gap: 4px;
						border-radius: 4px;
						border: 1px solid transparent;
						transition: all 0.5s;
						@media(max-width: $md1) {
							padding: 6px 10px;
						}
						.count {
							font-family: 'Lato-Black';
							font-style: normal;
							font-weight: 900;
							font-size: 10px;
							line-height: 150%;
						}

						&.active,
						&:hover {
							color: var(--red-primary);
							border-color: var(--red-primary);

							.count {
								color: var(--red-primary);
							}
						}
					}
				}
			}

			.courses__search {
				width: 100%;
				max-width: 316px;
				position: relative;
				@media(max-width: $md1) {
					max-width: 250px;
				}
				@media(max-width: $md2) {
					max-width: unset;
				}
				.input-text {
					width: 100%;

					input {
						padding-right: 42px;
					}
				}

				.input-btn {
					position: absolute;
					right: 16px;
					top: 14px;

					input {
						position: absolute;
						width: 100%;
						height: 100%;
						z-index: 2;
						cursor: pointer;
						opacity: 0;
					}
				}
			}
		}

		.courses__teachers {
			width: 100%;

			.grid {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 30px;
				margin-bottom: 80px;
				@media(max-width: $md1) {
					grid-gap: 16px;
					margin-bottom: 40px;
				}
				@media(max-width: $md2) {
					grid-template-columns: repeat(2, 1fr);
					grid-gap: 10px;
				}
				@media(max-width: $md4) {
					grid-template-columns: 1fr;
				}
			}

			.load-more-btn {
				max-width: max-content;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 16px;
				font-family: 'Lato-Bold';
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 160%;
				color: var(--gray-800);
			}
		}
	}
}