:root {
    --white: #FFF;
    --black: #000;
    --gray-100: #D7D7D7;
    --gray-150: #D4D4D4;
    --gray-200: #C5C5C5;
    --gray-300: #B9B9B9;
    --gray-400: #999999;
    --gray-500: #94A3B8;
    --gray-600: #606060;
    --gray-650: #676767;
    --gray-700: #535353;
    --gray-800: #23262F;
    --gray-900: #141416;
}