@use "sass:math";
@import "./colors.scss";
@import "./fonts.scss";
@import "./variables.scss";
@import "./null.scss";

body {
    background: var(--gray-50);
}

.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
p , a , span , h2 , h1 {
	font-family: 'Poppins', 'Inter', sans-serif;
}

@import "./ui.scss";

@import '../uikit/Button/styles/style.scss';
@import '../uikit/CustomLink/styles/style.scss';
@import '../uikit/Description/styles/style.scss';
@import '../uikit/Logo/styles/style.scss';
@import '../uikit/Title/styles/style.scss';
@import '../uikit/SwiperButtons/styles/style.scss';
@import '../uikit/NftItem/styles/style.scss';

@import '../components/Header/styles/style.scss';
@import '../components/Footer/styles/style.scss';
@import '../components/DiscoverCreateHero/styles/style.scss';
@import '../components/CreateAndSell/styles/style.scss';
@import '../components/Nfts/styles/style.scss';
@import '../components/NftsSwiper/styles/style.scss';

.page {
	flex: 1 1 auto;
}


