.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &.center {
        justify-content: center;
        align-items: center;
    }

    &.between {
        justify-content: space-between;
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.column-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.column-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.column-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}