.services-detail {
    position: relative;
    z-index: 2;
    padding: 0 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 1660px) {
        padding: 0 16px;
    }

    @media(max-width: 1024px) {
        padding: 50px 16px;
    }

    .services-detail__container {
        .services-detail__content {
            width: 100%;
            padding: 84px 182px 66px;
            position: relative;
            background: rgba(31, 26, 22, 0.86);
            border: 1px solid #554825;
            box-shadow: 0px 4px 138.5px -43px #000000;
            backdrop-filter: blur(17.5px);
            border-radius: 20px;
            @media(max-width: 1660px) {
                padding: 30px 110px;
            }

            @media(max-width: 1024px) {
                padding: 22px;
            }

            .bg-images {
                @media(max-width: 1024px) {
                    display: none;
                }
                img {
                    position: absolute;
                    left: -16px;
                    bottom: 0;
                    width: 165px;
                    height: 708px;
                    object-fit: cover;
                    object-position: top;
                    @media(max-width: 1660px) {
                        width: 120px;
                        height: auto;
                    }

                    &:nth-child(2) {
                        left: unset;
                        right: -16px;
                    }
                }
            }

            .services-detail__title {
                width: 100%;
                margin-bottom: 38px;
                @media(max-width: 1660px) {
                    margin-bottom: 20px;
                }

                h2 {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 14px;
                    margin-bottom: 30px;
                    @media(max-width: 1660px) {
                        margin-bottom: 20px;
                    }

                    img {
                        width: 34px;
                        height: 34px;
                        @media(max-width: 1660px) {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }

                p {
                    line-height: 209%;
                    @media(max-width: 1660px) {
                        line-height: 130%;
                    }
                }
            }

            .services-detail__info {
                width: 100%;
                margin-bottom: 26px;
                @media(max-width: 1660px) {
                    margin-bottom: 16px;
                }

                h4 {
                    margin-bottom: 18px;
                    @media(max-width: 1660px) {
                        margin-bottom: 12px;
                    }
                }

                .services-detail__grid {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 18px;
                    @media(max-width: 1660px) {
                        gap: 10px;
                    }

                    @media(max-width: 1024px) {
                        grid-template-columns: 1fr;
                    }
                }

                .services-detail__item {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 18px;
                    position: relative;
                    @media(max-width: 1660px) {
                        gap: 10px;
                    }

                    &::before {
                        content: '';
                        position: relative;
                        width: 20px;
                        height: 20px;
                        min-width: 20px;
                        border-radius: 50%;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(78.39% 78.39% at 50% 0%, #FEED6C 0%, #A97522 100%);
                        border: 1px solid #FEED6C;
                        box-shadow: 0px 4px 14px #000000;
                        @media(max-width: 1660px) {
                            width: 16px;
                            height: 16px;
                            min-width: 16px;
                        }
                    }

                    span {
                        line-height: 130%;
                    }
                }

            }
            .services-detail__bottom {
                width: 100%;
                margin-top: 6px;
                p {
                    line-height: 209%;
                    margin-bottom: 78px;
                    @media(max-width: 1660px) {
                        margin-bottom: 30px;
                        line-height: 140%;
                    }
                }
                .button {
                    max-width: 252px;
                }
            }
        }
    }
}