.sidebar {
    position: relative;
    z-index: 7;
    grid-row: span 3;
    background: #15120F;
    border-right: 1px solid #272118;
    @media(max-width: 1024px) {
        display: none;
    }

    .logo {
        width: 100%;
        display: block;
        padding: 24px 20px 46px;

        @media(max-width: 1660px) {
            padding: 10px 10px 20px;
        }

        img {
            width: 100%;
        }
    }

    .sidebar-menu {
        flex-direction: column;

        .button {
            width: 120px;
            height: 174px;
            justify-content: center;
            align-items: center;
            background: linear-gradient(270deg, #1F1A16 0%, rgba(31, 26, 22, 0) 100%);
            border-right: 1px solid #272118;
            position: relative;

            @media(max-width: 1660px) {
                width: 100px;
                height: 150px;
            }


        }

        .sidebar__item {
            position: relative;

            .button {
                .text {
                    white-space: nowrap;
                    position: absolute;
                    top: 42%;
                    left: 50%;
                    text-align: left;
                    transform: translate(-50%, -50%) rotate(-90deg);
                }

                svg {
                    position: absolute;
                    top: 86%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }


            &:nth-child(2) {
                .button {
                    .text {
                        top: 40%;
                        left: 50%;
                    }

                    svg {
                        top: 78%;
                        left: 50%;
                    }
                }
            }

            &:nth-child(3) {
                .button {
                    .text {
                        top: 40%;
                        left: 50%;
                    }
    
                    svg {
                        top: 72%;
                        left: 50%;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                right: 2px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.5s;
                width: 3px;
                height: 152px;
                background: #A97522;
                border-radius: 1.5px;
                opacity: 0;
                z-index: 4;
            }

            .icon-menu {
                svg {
                    &:last-child {
                        display: none;
                    }
                }
            }

            .hiden-menu {
                position: fixed;
                height: 100vh;
                padding: 152px 26px;
                background: rgba(21, 18, 15, 0.92);
                border-right: 1px solid #272118;
                backdrop-filter: blur(17.55px);
                z-index: 7;
                left: 120px;
                top: 0;
                display: none;

                @media(max-width: 1660px) {
                    left: 100px;
                }

                .hiden-menu__title {
                    margin-bottom: 18px;
                }

                .hiden-menu__list ul {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 14px;

                        .icons {
                            img {
                                display: none;
                                width: 20px;
                                height: 20px;

                                &:first-child {
                                    display: block;
                                }
                            }
                        }

                        &:hover {
                            .icons {
                                img {
                                    &:first-child {
                                        display: none;
                                    }

                                    &:last-child {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:hover,
            &.active {
                &::before {
                    opacity: 1;
                }

                .button {
                    .text {
                        color: #A97522 !important;
                    }

                    svg path,
                    svg rect {
                        fill: #A97522 !important;
                    }
                }
            }

            &:hover {
                .hiden-menu {
                    display: block;
                }

                .icon-menu {
                    svg {
                        &:last-child {
                            display: block;
                        }

                        &:first-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}