.review-item {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background: #2C2520;
    border-radius: 20px;
    border: 1px solid transparent;
    @media(max-width: 1660px) {
        gap: 10px;
        padding: 8px;
    }

    .img {
        width: 66px;
        min-width: 66px;
        height: 62px;
        background: #3B332C;
        border-radius: 10px;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 2px;

        span {
            &:first-child {
                line-height: 166%;
                @media(max-width: 1660px) {
                    line-height: 100%;
                }
            }

            &:last-child {
                line-height: 155%;
                @media(max-width: 1660px) {
                    line-height: 140%;
                }
            }
        }
    }
}