.header {
    width: 100%;
    padding: 44px 20px;
    transition: all 0.5s;
    position: sticky;
    top: 0;
    z-index: 20;
    &.sticky {
        background: #FFFFFF;
        padding: 18px 20px;
        border-radius: 0px 0px 20px 20px;
    }
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .header__left {
            width: 100%;
            max-width: 556px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 50px;
            }
        }

        .header__right {
            max-width: 200px;
            width: 100%;
        }
    }
}