.home {
    position: relative;
    z-index: 2;
    padding: 0 30px;
    height: 100%;

    &__text {
        color: #A97522;
        max-width: 726px;

        h1 {
            max-width: 582px;
            margin-bottom: 32px;
            line-height: 83px;
        }

        p {
            line-height: 166%;
            margin-bottom: 30px;
        }

        .button {
            max-width: 264px;
        }
    }

    .home__container {
        height: 100%;

        .home__content {
            justify-content: center;
            align-items: center;
            height: 100%;

            .home__about {
                width: 100%;
                max-width: 810px;
                padding: 84px 148px 66px;
                position: relative;
                background: rgba(31, 26, 22, 0.86);
                border: 1px solid #554825;
                box-shadow: 0px 4px 138.5px -43px #000000;
                backdrop-filter: blur(17.5px);
                border-radius: 20px;

                img {
                    position: absolute;
                    left: -16px;
                    bottom: 0;
                    width: 160px;
                    height: 594px;
                    object-fit: cover;
                    object-position: top;

                    &:nth-child(2) {
                        left: unset;
                        right: -16px;
                    }
                }

                h4 {
                    margin-bottom: 32px;
                    text-align: center;
                }

                p {
                    line-height: 209%;
                    text-align: center;
                    margin-bottom: 40px;
                }
            }
        }
    }
}