.home {
    position: relative;
    z-index: 2;
    padding: 0 30px;
    height: 100%;

    @media(max-width: 1660px) {
        padding: 0 16px;
    }

    @media(max-width: 1024px) {
        padding: 50px 16px;
    }

    &__text {
        color: #A97522;
        max-width: 726px;
        @media(max-width: 1660px) {
            max-width: 460px;
        }

        @media(max-width: 1024px) {
            max-width: unset;
        }

        h1 {
            max-width: 582px;
            margin-bottom: 32px;
            line-height: 83px;
            @media(max-width: 1660px) {
                line-height: 40px;
                margin-bottom: 20px;
            }
        }

        p {
            line-height: 166%;
            margin-bottom: 30px;
            @media(max-width: 1660px) {
                margin-bottom: 20px;
            }
        }

        .button {
            max-width: 264px;
            @media(max-width: 1024px) {
                max-width: unset;
            }
        }
    }

    .home__container {
        height: 100%;

        .home__content {
            justify-content: center;
            align-items: center;
            height: 100%;

            @media(max-width: 1024px) {
                flex-direction: column;
            }

            .home__about {
                width: 100%;
                max-width: 810px;
                padding: 84px 148px 66px;
                position: relative;
                background: rgba(31, 26, 22, 0.86);
                border: 1px solid #554825;
                box-shadow: 0px 4px 138.5px -43px #000000;
                backdrop-filter: blur(17.5px);
                border-radius: 20px;
                @media(max-width: 1660px) {
                    padding: 20px 110px;
                    max-width: 600px;
                }

                @media(max-width: 1024px) {
                    padding: 40px 20px;
                    max-width: unset;
                }

                img {
                    position: absolute;
                    left: -16px;
                    bottom: 0;
                    width: 160px;
                    height: 594px;
                    object-fit: cover;
                    object-position: top;
                    @media(max-width: 1660px) {
                        width: 120px;
                        height: auto;
                    }

                    @media(max-width: 1024px) {
                        display: none;
                    }

                    &:nth-child(2) {
                        left: unset;
                        right: -16px;
                    }
                }

                h4 {
                    margin-bottom: 32px;
                    text-align: center;
                    @media(max-width: 1660px) {
                        margin-bottom: 20px;
                    }
                }

                p {
                    line-height: 209%;
                    text-align: center;
                    margin-bottom: 40px;
                    @media(max-width: 1660px) {
                        line-height: 28px;
                        margin-bottom: 20px;
                    }
                }

                .home__about-buttons {
                    @media(max-width: 1024px) {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}