.about-us__hero {
  line-height: 1.2;
  font-weight: 400;
  background: linear-gradient(90deg, #c5b4e3 0%, #9ec9f0 50%, #82c9e7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about-us__card-image {
  aspect-ratio: 4 / 5;
}
