.contacts {
    position: relative;
    z-index: 2;
    height: 100%;

    .contacts__container {
        max-width: unset;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .contacts__content {
            width: 100%;
            max-width: 810px;
            position: relative;
            padding: 54px 46px 66px;
            background: rgba(31, 26, 22, 0.86);
            border: 1px solid #554825;
            box-shadow: 0px 4px 138.5px -43px #000000;
            backdrop-filter: blur(17.5px);
            border-radius: 20px;

            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin-bottom: 28px;
                line-height: 83px;
            }

            .contacts__slug {
                position: absolute;
                top: -26px;
                left: 50%;
                transform: translateX(-50%);
                max-width: 188px;
                width: 100%;
                height: 54px;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(78.39% 78.39% at 50% 0%, #FEED6C 0%, #A97522 100%);
                border: 1px solid #FEED6C;
                box-shadow: 0px 4px 14px #000000;
                border-radius: 27px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .contacts__items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 8px;
            }
        }
    }
}