.nfts {
    width: 100%;
    background-color: #F1F1F1;
    padding: 70px 20px;

    .nfts__container {
        .nfts__title {
            width: 100%;

            .title {
                text-align: center;
                margin-bottom: 70px;
            }
        }
    }
}