.swiper-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 166px;
    margin: 0 auto;
    background: #FCFCFD;
    box-shadow: 0px 43.1169px 34.4935px -25.8701px rgba(15, 15, 15, 0.12);
    border-radius: 17.2468px;
    position: relative;

    &::before {
        content: "";
        position: relative;
        width: 2px;
        height: 24px;
        background-color: #E6E8EC;
        display: block;
        order: 2;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
            order: 1;
        }
        &:nth-child(2) {
            order: 3;
        }
    }
}