.header-mobile-menu {
    position: fixed;
    height: calc(100vh - 104px);
    padding: 36px 30px;
    z-index: 7;
    left: 0px;
    width: 100%;
    top: 104px;
    display: none;
    background: rgba(21, 18, 15, 0.92);
    border-right: 1px solid #272118;
    backdrop-filter: blur(17.55px);
    border-radius: 0px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    @media(max-width: 1024px) {
        display: block;
    }

    .header-mobile-menu__title {
        margin-bottom: 20px;
    }

    .header-mobile-menu__services {
        width: 100%;
        margin-bottom: 80px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;

                .icons {
                    img {
                        display: none;
                        width: 20px;
                        height: 20px;

                        &:first-child {
                            display: block;
                        }
                    }
                }

                &:hover {
                    .icons {
                        img {
                            &:first-child {
                                display: none;
                            }

                            &:last-child {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-mobile-menu__item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:last-child{
            padding-top: 20px;
        }
    }
}