.teacher-item {
	width: 100%;
	background: var(--white);
	border: 1px solid var(--gray-300);
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
	overflow: hidden;
	transition: all 0.5s;

	&:hover {
		box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -5px rgba(154, 156, 165, 0.35), 0px 12px 10px -6px rgba(154, 156, 165, 0.34), 0px 4px 4px -4px rgba(30, 33, 44, 0.33);
	}

	.teacher-item__img {
		width: 100%;

		img {
			width: 100%;
			height: 240px;
			object-fit: cover;
			@media(max-width: $md1) {
				height: 200px;
			}
		}
	}

	.teacher-item__content {
		width: 100%;
		padding: 24px;
		@media(max-width: $md1) {
			padding: 16px;
		}
		@media(max-width: $md2) {
			padding: 10px;
		}
		.tag {
			display: block;
			padding: 2px 8px;
			margin-bottom: 20px;
			border-radius: 4px;
			font-family: 'Lato-Light';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			color: var(--white);
			max-width: max-content;
			@media(max-width: $md1) {
				padding: 2px 6px;
			}

			&.bg-green {
				background-color: var(--green-teal);
			}

			&.bg-blue {
				background-color: var(--blue-primary);
			}

			&.bg-orange {
				background-color: var(--orange-primary);
			}

			&.bg-pink {
				background-color: var(--pink-primary);
			}

			&.bg-purple {
				background-color: var(--purple-primary);
			}
		}

		h4 {
			margin-bottom: 20px;

			a {
				font-family: 'Lato-Bold';
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 150%;
				color: #1E212C;
				@media(max-width: $md1) {
					font-size: 16px;
				}
			}
		}

		.teacher-item__price {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;
			position: relative;
			@media(max-width: $md1) {
				gap: 4px;
			}

			&::before {
				content: "";
				width: 16px;
				border: 1px solid var(--gray-700);
				position: relative;
				transform: rotate(90deg);
				order: 2;
			}

			.price {
				font-family: 'Lato-Bold';
				font-style: normal;
				font-weight: 700;
				font-size: 18px;
				line-height: 150%;
				color: var(--red-accent);
				order: 1;
				@media(max-width: $md1) {
					font-size: 14px;
				}
			}

			.teacher-name {
				font-family: 'Lato-Light';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				color: var(--gray-700);
				order: 3;
				@media(max-width: $md1) {
					font-size: 14px;
				}
			}
		}
	}
}